.LoginBlock{
    height: 792px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LoginForm {
    /* background-color: aqua; */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.LoginForm > input {
    width: 300px;
}

.LoginForm > button {
    margin: 15px;
    background-color: #ffae00;
    height: 40px;
    width: 300px;
    min-width: 200px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.LoginForm > input {
    margin: 15px;
    height: 30px;
    padding: 5px 15px;
    font-size: 16px;
    border-radius: 8px;
    border: 2px solid black
}