.Services {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CardsBlock {
    margin: 50px 0;
    padding: 15px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    
}

