.MapBlock {
    /* background-color: aliceblue; */
    width: 80%;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}