.Complex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.ComplexHeading {
    width: 80%;
    margin: 50px;
    /* text-align: justify; */
    /* background-color: azure; */
}

.ComplexInfo {
    width: 80%;
    margin: 35px;
    font-size: 24px;
    text-align: justify;
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
}

.Images {
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ImageBlock {
    width: 350px;
    height: 260px;
    margin: 0 20px;
}

.ImageBlock > img {
    width: 100%;
    height: 100%;
}