.Schedule {
    height: 792px;
    text-align: center;
}
.CurrentSchedule {
    width: 80%;
    /* background-color: aqua; */
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 50px;
}

