.Footer {
    width: 100%;
    height: 85px;
    background-color: #212529;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
}

.Footer > h3 {
    margin: 0 15px;
}

.Footer > img {
    margin: 0 15px; 
}